.hope-select__option .hope-checkbox,
.folder-tree-box .hope-checkbox {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.hope-select__option .hope-checkbox *,
.folder-tree-box .hope-checkbox * {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.hope-select__option .hope-checkbox__control,
.folder-tree-box .hope-checkbox__control {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.hope-select__option .hope-checkbox__input,
.folder-tree-box .hope-checkbox__input {
  cursor: not-allowed !important;
  pointer-events: none !important;
}
